* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 44.46%;
    overflow-x: hidden;
}


a{
    text-decoration: none;
}



.container {
    width: 162rem;
    margin:  0 auto;
}