@font-face {
    font-family: pRegular;
    src: url("../font/Pangram-Regular.otf") format("opentype");
}
@font-face {
    font-family: pBold;
    src: url("../font/Pangram-Bold.otf") format("opentype");
}
@font-face {
    font-family: pXBold;
    src: url("../font/Pangram-ExtraBold.otf") format("opentype");
}
@font-face {
    font-family: pMedium;
    src: url("../font/Pangram-Medium.otf") format("opentype");
}