#testimonial {
    padding-top: 8rem;
    position: relative;
    overflow-x: hidden;
    z-index: 0;

    &::after {
        position: absolute;
        content: '';
        width: 100%;
        top: 0;
        left: 0;
        right: 0;
        height: 60rem;
        z-index: 999;
        background-image: url(../images/bg/testimonial.svg);
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
       

    }


    .mainWrapper {
        position: relative;
        z-index: 9999;

        h2 {
            text-align: center;
            font-family: pBold;
            font-weight: 700;
            font-size: 5rem;
            color: rgb(0, 0, 0);
            margin-bottom: 19rem;
        }

        .slider {
            // .slick-list {
            //     overflow: unset;
            // }

            .slick-dots {
                li {
                    height: 1.8rem;
                    width: 1.8rem;
                    background-color: rgba(17, 16, 17, 0.3);
                    border-radius: 100%;
                    -webkit-border-radius: 100%;
                    -moz-border-radius: 100%;
                    -ms-border-radius: 100%;
                    -o-border-radius: 100%;
                    transition: .5s;
                    -webkit-transition: .5s;
                    -moz-transition: .5s;
                    -ms-transition: .5s;
                    -o-transition: .5s;

                    &.slick-active {
                        transform: scale(1.3);
                        -webkit-transform: scale(1.3);
                        -moz-transform: scale(1.3);
                        -ms-transform: scale(1.3);
                        -o-transform: scale(1.3);
                        background-color: rgba(5, 170, 209, 1);
                    }
                }
            }

            .slick-active {
                .singleSliderItemWrapper {
                    .singleSliderItem {
                        opacity: 1;
                    }
                }
            }

            .singleSliderItemWrapper {
                padding: 2.5rem;
                padding-bottom: 10rem;

                .singleSliderItem {
                    opacity: .5;
                    transition: .5s;
                    -webkit-transition: .5s;
                    -moz-transition: .5s;
                    -ms-transition: .5s;
                    -o-transition: .5s;

                    .imageWrapper {
                        display: flex;
                        justify-content: center;
                        position: relative;
                        z-index: 999;

                        .image {
                            width: 20rem;
                            height: 20rem;
                            border-radius: 100%;
                            -webkit-border-radius: 100%;
                            -moz-border-radius: 100%;
                            -ms-border-radius: 100%;
                            -o-border-radius: 100%;
                            overflow: hidden;

                            img {
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }

                    .bottom {
                        width: 100%;
                        position: relative;
                        z-index: 99;
                        background-color: rgb(255, 255, 255);
                        padding: 10rem 5rem 6rem 6rem;
                        margin-top: -10rem;
                        border-radius: 1.5rem;
                        -webkit-border-radius: 1.5rem;
                        -moz-border-radius: 1.5rem;
                        -ms-border-radius: 1.5rem;
                        -o-border-radius: 1.5rem;
                        box-shadow: 1rem 1.5rem 50px rgba(134, 134, 134, 0.1);

                        .blckqts {
                            display: block;
                            width: 4rem;
                            height: auto;
                            margin-bottom: 1.95rem;
                        }

                        p {
                            font-family: pRegular;
                            font-size: 2.2rem;
                            color: #000;
                            line-height: 1.6;
                            padding-left: 3rem;
                            margin-bottom: 3.1rem;
                        }

                        .last {
                            display: flex;
                            justify-content: space-between;

                            .left {
                                display: flex;
                                flex-direction: column;

                                p {
                                    margin: 0;

                                    &.name {
                                        font-size: 2.8rem;
                                        color: #000;
                                        font-family: pMedium;

                                    }

                                    &.designation {
                                        font-size: 2rem;
                                        color: rgba(0, 0, 0, 0.3);
                                        font-family: pRegular;
                                    }
                                }


                            }

                            .right {
                                display: flex;
                                align-items: flex-end;

                                img {
                                    width: 2.7rem;
                                    height: 2.7rem;
                                    margin-left: 1rem;
                                }
                            }
                        }

                    }
                }
            }
        }
    }
}